---

 const asideLink = Astro.props.link
 const asideLinkText = Astro.props.linkText
---

<aside class="articleAside">
   <slot />
   {asideLink && (<a class="asideLink" target="_blank" href={asideLink}>{asideLinkText}</a>)}
</aside>



<style>
   p {
      margin-top: .25em;
   }
   .articleAside {
     font-size: medium;
     font-weight: normal;
     color: gray;
     font-style: italic;
     float: right;
     padding-left: 1em;
     margin-left: 3px solid rgb(92, 50, 0);
   }
    /* article link should be a block floated right */
   a.asideLink {
      display: block;
      float: right;
      color: gray;
      font-style: italic;
      padding-bottom:1em;
      text-decoration: none;
   }
</style>