---
import brand from  "@data/branding.json";
const { meta } = Astro.props;

const commentsID = 'comments_embed'
const pageURL = Astro.url.href.replace('[::1]', 'localhost').replace(/\/$/, '')
const commentsURL = `${pageURL}#${commentsID}`


// let's implement this with Staticman API instead of Facebook -- that way our comments become valuable content for SEO

// https://staticman.net/docs/getting-started.html

---

 <div id={commentsID} class="">

 </div>

