@import "tailwindcss";

@theme {
  --font-family-serif: Merriweather, ui-serif, Georgia, "Times New Roman", Times, serif;
}


/* This will hide the elements on screen, but show them when printing */
@media screen {
  .printonly { display: none; }
}

@media print {
  .printonly { display: block !important; }
  .noprint { display: none; }
}

img {
  content-visibility: auto;
}
article p a:not([class]) {
  font-weight: normal !important;
  text-decoration: none !important;
  border-bottom: 1px dashed silver;
}
h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 100px; /* Replace [HeaderHeight] with the height of your sticky header/navbar */
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1,h2,h3,h4,h5 {
  font-family: Merriweather;
}

/* Prose typography styles */
.prose-lg {
  color: #374151;
  max-width: 65ch;
}

.prose-lg p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.75;
}

.prose-lg strong {
  color: #111827;
  font-weight: 700;
}

.prose-lg a:not([class]) {
  color: #2563eb;
  text-decoration: underline;
  font-weight: 500;
}

.prose-lg a:not([class]):hover {
  color: #1d4ed8;
}

.prose-lg h2 {
  color: #111827;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose-lg h3 {
  color: #111827;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose-lg h4 {
  color: #111827;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose-lg ol {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose-lg ul {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose-lg li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose-lg blockquote {
  font-weight: 500;
  font-style: italic;
  color: #111827;
  border-left-width: 0.25rem;
  border-left-color: #e5e7eb;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}