---
import Container from "@components/container.astro";
import Testimonials from "@components/testimonials.astro";
import Layout from "@layouts/Layout.astro";

import { Image, Picture } from "astro:assets";
import SuperHero from "@components/superhero.astro";
import Tockify from "@components/tockify.astro";
import DRBICategories from "@components/drbicategories.astro";
import VideoPlayer from "@components/videoPlayer.astro";
---

<Layout title="Desert Rose Bahá’í Institute"
  description="A school for the furtherance of arts, agriculture and Bahá’í education. Founded by Marguerite Sears.">

  <main class="overflow-x-clip">

    <SuperHero />

    <Container>
      <DRBICategories />
    </Container>

    <Container>
       <!-- margarite sears speaks about Desert Rose  -->
      <VideoPlayer video="https://www.youtube.com/embed/HbHLSZoy7bw?si=ElAKh9mwXq03oGhd" />
    </Container>

    <Container>
      <!-- Transformational Leadership with Wade  -->
      <VideoPlayer video="https://youtu.be/Sb09jJe1HYA" />
    </Container>

    <Container>
      <div class="mt-24">
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
            Calendar of Events
        </h2>
        <Tockify />
      </div>
    </Container>




  </main>



  <Testimonials />
</Layout>
