---
export const prerender = true;

import { getCollection } from "astro:content";
import NewsLayout from "@layouts/NewsLayout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PostThumb from "@components/article/postThumb.astro";
// import Pagination from "@components/pagination.astro";

/**
 * @type {any}
 */
// const { page } = Astro.props;

const isPublished = ({data}) => (!data.draft && data.datePublished<=new Date());
const isDev = import.meta.env.APP_ENV==='dev';
const allPosts = await getCollection("posts", (ar) => isPublished(ar) || isDev);
const news = allPosts.filter((ar) => ar.data.post_type==='Newsletter');
---

<NewsLayout title="Article">
  <Container>
    <Sectionhead>
      <Fragment slot="title"> NewsLetters </Fragment>
      <Fragment slot="desc">
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <div class="flex flex-wrap justify-center gap-20">
        {Array.isArray(news) && news.map((post) =>(
          <div class="flex-none" style={{ width: '300px' }}>
            <PostThumb post={post} />
          </div>
        ))}
      </div>
    </main>

  </Container>
</NewsLayout>
