---
export const prerender = true;

import NewsLayout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PostThumb from "@components/article/postThumb.astro";
import { getPublishedArticles } from "@utils/utils.js";
// import Pagination from "@components/pagination.astro";

/**
 * @type {any}
 */

const news = (await getPublishedArticles()).filter((post)=>post.data.post_type==='Newsletter');
// console.log(news);
---

<NewsLayout title="Article">
  <Container>
    <Sectionhead>
      <Fragment slot="title"> NewsLetters </Fragment>
      <Fragment slot="desc">
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <div class="flex flex-wrap justify-center gap-20">
        {Array.isArray(news) && news.map((post) => (
          <div class="flex-none" style={{ width: '300px' }}>
            <PostThumb post={post} />
          </div>
        ))}
      </div>
    </main>

  </Container>
</NewsLayout>
