---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PostThumb from "@components/article/postThumb.astro";
import { getPublishedPostsByType } from "@utils/utils.js";
import { Posts } from "astro:db";
// import Pagination from "@components/pagination.astro";

/**
 * @type {any}
 */

const posts = await getPublishedPostsByType('News');
---

<Layout title="Article">
  <Container>
    <Sectionhead>
      <Fragment slot="title"> Desert Rose News </Fragment>
      <Fragment slot="desc">
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <div class="flex flex-wrap justify-center gap-20">
        {Array.isArray(posts) && posts.map((post) => (
          <div class="flex-none" style={{ width: '300px' }}>
            <PostThumb post={post} />
          </div>
        ))}
      </div>
    </main>

  </Container>
</Layout>
