---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import PageHero from "@components/PageHero.astro";
import PostThumb from "@components/article/postThumb.astro";
import { getPublishedPostsByType_Content } from "@utils/content-utils.js";
import newsImg from "../../assets/drbi/news.webp";

const posts = await getPublishedPostsByType_Content('News');
---

<Layout title="Desert Rose News" description="News and updates from Desert Rose Bahá'í Institute.">

  <PageHero
    label="From the community"
    title="Desert Rose News"
    subtitle="Updates, reflections, and stories from our community of learners and servants."
    image={newsImg}
    imageAlt="Desert Rose Bahá'í Institute"
  />

  <section class="py-24 bg-white">
    <Container>
      <div class="flex flex-wrap justify-center gap-14">
        {Array.isArray(posts) && posts.map((post) => (
          <div class="flex-none" style={{ width: '300px' }}>
            <PostThumb post={post} />
          </div>
        ))}
      </div>
    </Container>
  </section>

</Layout>
