---
// fancy header font
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Zeyada&display=swap" rel="stylesheet" />

<h2 class="text-6xl mb-0 -ml-4 mt-16 pt-16" style="font-family: Zeyada, cursive;"><slot /></h2>
<hr class="mb-0" />