---
 // const user = Astro.locals.user;
---


<button id="logoutLink" type="button" class="logout block underline font-bold text-blue-500 bg-transparent border-0 p-0 cursor-pointer focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:outline-none">Logout</button>

<script type="module">
 document.addEventListener('DOMContentLoaded', () => {
   const logoutLink = document.getElementById('logoutLink');
   logoutLink.addEventListener('click', async (event) => {
     event.preventDefault();
     //console.log('Logging out user');
     await fetch('/api/logout');
     location.reload(); // Refresh the current page
   });
 });
</script>