---
// all the article-specific styling should go here or in article.css;
import "@styles/article.css";
import TOC from "@components/article/TOC.astro";
// import { ViewTransitions } from "astro:transitions";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import branding from "@data/branding.json";
import ArticleJSONLD  from "@components/article/ArticleJSONLD.astro"; // validate at https://validator.schema.org/
// fyi, check your opengraph here:  https://www.opengraph.xyz/

// vercel speed insights, helpful for SEO
import { injectSpeedInsights } from '@vercel/speed-insights';
// injectSpeedInsights();

// frontmatter metadata for this article, grab the fields we'll need
const props = Astro.props.meta.entry.data;
const {image, description, title} = props;
const {footerMargin = true } = Astro.props;
const pageURL = Astro.url.href.replace('[::1]', 'localhost').replace(/\/$/, '') //.replace(/:(\d+)/, ':3000')
const siteURL = new URL(pageURL).origin.replace(/\/$/, '');
const imageURL = new URL(image.src.src, siteURL).href.toString();
const articleTitle = title ? title : branding.title
const articleDescription = description || branding.description;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ArticleJSONLD {...props} />

    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      article p a:not([class]) {
        font-weight: normal !important;
        text-decoration: none !important;
        border-bottom: 1px dashed silver;
      }
      h1, h2, h3, h4, h5, h6 {
          scroll-margin-top: 100px; /* Replace [HeaderHeight] with the height of your sticky header/navbar */
      }

    </style>

    <!-- <ViewTransitions /> -->
  </head>

  <body>
    <Navbar />
    <div class="grid grid-cols-[5px_auto] md:grid-cols-[240px_3fr] relative">
      <div class="left-column">
        <TOC headings={Astro.props.headings}/>
      </div>
      <div class="content">
        <slot />
      </div>
    </div>
    <Footer margin={footerMargin} />
    <script> import '@assets/js/appendLink.js'; </script>
    <script> import '@assets/js/externalLinks.js'; </script>
  </body>
</html>




<style is:global>
  /* provide classes for print only and screen only  */
  @media screen {
    .printonly { display: none !important; }
  }
  @media print {
    .printonly { display: block !important; }
    .noprint { display: none !important; }
  }
</style>

